<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:mediaBooktwo.properties" ignore-unresolvable="true"/>

    <bean class="springxml.beans.categoryBean" id="categoryBean">
        <constructor-arg name="_validationService" ref="categoryValidationService"/>

        <property name="categoryID" value="${categoryID}"/>
        <property name="name" value="${name}"/>
    </bean>
    <bean class="springxml.services.categoryValidationService" id="categoryValidationService"/>
</beans>